body {
  opacity: 1 !important;
}

:root {
  --base-unit: 8px;
  --logo-size: calc(var(--base-unit) * 10);
  --nav-bar-height: calc(var(--base-unit) * 12);
  --body-margin: calc(var(--base-unit) * 15);

  --primary-color: $brand-color;
  --secondary-color: $background-color;
  --text-color: $text-color;
  box-sizing: border-box;

  color: var(--text-color);

  scroll-behavior: smooth;

  font-family: Montserrat;
}



/** HERO */

.hero {
  position: absolute;
  top: 6*$spacing-unit;
  margin: $spacing-unit 4*$spacing-unit;
  transition: all 0.35s;
  max-width: $content-width*.6;
  z-index: 0;

  @include media-query($on-palm) {
    margin: $spacing-unit $spacing-unit;
    top: 4*$spacing-unit
  }
}



.scroll-down {
  z-index: 1;
  position: absolute;
  bottom: calc(var(--base-unit) * 4);
  right: calc(50% - calc(var(--base-unit) * 5));
  width: calc(var(--base-unit) * 5);
  height: calc(var(--base-unit) * 5);
  transition: all 0.35s;
}

.scroll-down img {
  width: 100%;
  height: 100%;
  animation: glow 4s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.05;
  }
  100% {
    opacity: 0.75;
  }
}

/* Sections */

.sections {
  z-index: 2;
  position: relative;
  margin-top: $spacing-unit * 4;
  //margin-bottom: calc(var(--base-unit) * 30);
  opacity: 0;
  transition: all 0.35s;
}

section {
  margin-bottom: $spacing-unit * 3.5;
}

/** SERVICES */

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.service {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-unit;
  margin-left: $spacing-unit;
  margin-right: $spacing-unit;
  //max-width: 15 * $spacing-unit;
}

.service div:first-child {
  margin-right: $spacing-unit;
}

.service-image svg {
  width: 100%;
  height: auto;
}

/* PORTFOLIO **/

.portfolio {
  box-sizing: border-box;
  height: $spacing-unit * 8;
  width: 100%;
  background-color: lighten($brand-color, 10%);
  display: flex;
  flex-direction: row;
  margin-bottom: $spacing-unit *.5;
  overflow: hidden;

  @include media-query($on-palm) {
    height: $spacing-unit * 12;
  }

}

.portfolio:hover div:last-child {
  bottom: 0;
}

.portfolio div:first-child  {
  flex: 2;
  margin-left: $spacing-unit;
  margin-top: $spacing-unit;
  @include media-query($on-palm) {
    flex: 1;
  }
}

.portfolio div:last-child  {
  margin-top: auto;
  width: $spacing-unit * 4;
  margin-right: $spacing-unit;
  transition: all .5s;
  position: relative;
  bottom: -1 * $spacing-unit;
}

.portfolio div:last-child img {
  float: right;
  height: auto;
}


.portfolio-row {
  display: flex;
  flex-direction: row;
}

.portfolio-row .portfolio:first-child {
  display: flex;
  flex-direction: row;
  margin-right: $spacing-unit *.5;

}

/* Footer */

.footer {
  padding: $spacing-unit;
  min-height: $spacing-unit * 2;
  background-color: lighten($brand-color, 10%);
}


.anchor {
  position: relative;
  height: 0px;
  top: -4.5 * $spacing-unit;
}